.container{
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1{
    color: #333;
}

form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea{
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;
}

textarea{
    height: 100px;
}

.agendar-btn{
    padding: 10px 20px;
    width: 50%;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.back-btn{
    padding: 10px 20px;
    width: 50%;
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}